<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <servlet>
  	<servlet-name>ssoso</servlet-name>
  	<servlet-class>study2.HelloWorld3</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>myFormTest</servlet-name>
  	<servlet-class>study2.FormTestServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>bangMyung</servlet-name>
  	<servlet-class>study2.BangMyungList</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>bangMyungAdd2</servlet-name>
  	<servlet-class>study2.BangMyungAdd2</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>NewAdd</servlet-name>
  	<servlet-class>main.BangMyungAdd2</servlet-class>
  </servlet>
  
    <servlet>
  	<servlet-name>NewList</servlet-name>
  	<servlet-class>main.BangMyungList</servlet-class>
  </servlet>
  
  
  
  
  <servlet-mapping>
  	<servlet-name>ssoso</servlet-name>
  	<url-pattern>/study2</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>myFormTest</servlet-name>
  	<url-pattern>/form_test2</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>bangMyung</servlet-name>
  	<url-pattern>/bangmyung_list</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>NewAdd</servlet-name>
  	<url-pattern>/add</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>bangMyungAdd2</servlet-name>
  	<url-pattern>/bangmyung_add2</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>NewList</servlet-name>
  	<url-pattern>/list</url-pattern>
  </servlet-mapping>
</web-app>